@mixin bgImage($name) {
    // background: url("./../img/bg/price-bg.jpg") center/cover no-repeat;
    background: url($name) center/cover no-repeat;
}


%overlay {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.35);
}